.li-button-portfolio :hover,
.button-portfolio :focus {
    background-color: #2196F3;
    color: #FFFFFF;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 0.15);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-portfolio-ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
        & :not(:last-child) {
                margin-right: 8px;
            }
}

.button-portfolio {
    padding: 6px 22px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    border-radius: 4px;
    letter-spacing: 0.03em;
    cursor: pointer;

}
.li-button-portfolio {
    text-align: center;
}

.main {
    display: flex;
    flex-wrap: wrap;
}

.main-p {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: #757575;
}

.main-li:not(:nth-child(n+7)) {
    margin-bottom: 30px;
        &:not(:nth-child(3n+0)) {
                margin-right: 30px;
            }
        &:hover,
        &:focus {
                transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 0.15);
                box-shadow: 1px 4px 6px 0px #00000029, 0px 4px 4px 0px #0000000F, 0px 1px 1px 0px #0000001F;
                }
}
.main-h-p {
    padding: 20px 24px;
    border: 1px solid #EEEEEE
}
.overlay {
    position: absolute;
    color: #FFFFFF;
    background-color: #2196F3E5;
    padding: 63px 24px;
    font-style: normal;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    transform: translateY(100%);
    transition: transform 300ms linear;
}

.main-li-img {
    position: relative;
    overflow: hidden;
}

.main-li-a:hover .overlay,
.main-li-a:focus .overlay {
    transform: translateY(0%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 0.15);
}